@import '_setup';

// Objects: The GRID
//
// Styleguide 5.0.0

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  }

img,
video {
  width: 100%;
}

img,
a.thumb,
.rounded {
  border-radius: $border-radius;
}

.wrapper,
.grid {
  margin: 0 auto;
  max-width: $site-max-width;
  overflow: hidden;
  padding: 75px 20px;
  @include respond-to-max(med) {
    padding: 75px 0;
  }
}

.row {
  width: 100%;
  overflow: hidden;
  margin-top: $v-gutter;  
  @include respond-to-max(med) {
    margin-top: 0;  
  }
}
.row:before, .row:after {
  content: '';
  display: table;
}

@for $i from 1 through 11 {
  .c#{$i} {
    width: 8.3333333333% * $i;
    @include respond-to-max(med) {
      margin-top: $v-gutter;  
    }
  }
}
@for $i from 1 through 12 {
  .s#{$i} {
    margin-left: 8.3333333333% * $i;
  }
}
@for $i from 1 through 12 {
  .c#{$i} {
    position: relative;
    float: left;
    padding-left:  $h-gutter;
    padding-right: $h-gutter;
    min-height: 1px;
  }
}
.c12,
.s12 {
  float: none;
  width: 100%;
}
.no-pad {
  padding-left: 0px;
  padding-right: 0px
}
.slim {
  padding-left: $v-gutter/2;
  padding-right: $v-gutter/2;
}

@include respond-to-max(med) {
  @for $i from 1 through 12 {
    .med-c#{$i} {
      width: 8.3333333333% * $i;
    }
  }
  @for $i from 0 through 12 {
    .med-s#{$i} {
      margin-left: 8.3333333333% * $i;
    }
  }

  .med-no-pad {
    padding-left: 0px;
    padding-right: 0px
  }
  .slim {
    padding-left: $h-gutter;
    padding-right: $h-gutter;
  }
}

@include respond-to-max(sml) {
  @for $i from 1 through 11 {
    .sml-c#{$i} {
      width: 8.3333333333% * $i; 
    }
  }
  @for $i from 0 through 12 {
    .sml-s#{$i} {
      margin-left: 8.3333333333% * $i;
    }
  }
  .sml-c12 {
    width: 100%;
  }
}

// Layout and Positioning
.center {
  margin-left:  auto;
  margin-right: auto;
  float: none;
  clear: both;
}
.pull-right {
  float: right;
  margin-left: $h-gutter;
}
.push-top {
  margin-top: 120px;

  @include respond-to-max(med) {
    margin-top: 60px;
  }
}
.push-bottom {
  margin-bottom: 120px;

  @include respond-to-max(med) {
    margin-bottom: 60px;
  }
}

.push-bottom-half {
  margin-bottom: 60px;

  @include respond-to-max(med) {
    margin-bottom: 30px;
  }
}

.m-no-push-top {
  @include respond-to-max(med) {
    margin-top: 0 !important;
  }
}

.m-no-push-bottom {
  @include respond-to-max(med) {
    margin-bottom: 0 !important;
  }
}

.push-top-half {
  margin-top: 60px;

  @media print {
    margin-top: 0;
  }
}
.push-top-quart {
  margin-top: 30px;

  @media print {
    margin-top: 0;
  }
}
.push-top-half-quart {
  margin-top: 90px;

  @media print {
    margin-top: 0;
  }
}

// Display
.m-hide {
  @include respond-to-max(med) {
    display: none;
  }
}
.m-sml-hide {
  @include respond-to-max(sml) {
    display: none;
  }
}
.m-block {
  @include respond-to-max(med) {
    display: block;
  }
}
.no-print {
  @media print {
    display: none;
  }
}
