@import '_setup';

//*** Global > Typography  ***//

body {
  color: $dark-grey;
  font-family: $sans-serif-stack;
  font-size: $base-font-size;
  line-height: 1.7;
  background-color: $white;
}


@font-face {
  font-family: 'HouseSampler-HouseSlant';
  src: asset-url('HouseSampler-HouseSlant.otf');
  src: asset-url('HouseSampler-HouseSlant.eot?#iefix') format('embedded-opentype'),
    asset-url('HouseSampler-HouseSlant.woff') format('woff'),
    asset-url('HouseSampler-HouseSlant.ttf') format('truetype'),
    asset-url('HouseSampler-HouseSlant.svg#HouseSampler-HouseSlant') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Typography: Text
//
// .meta        - Meta text, good for timestamps and other categorical info
// .alt         - Use sparingly!
// .faded       - Light
// .t-center    - Centered text
// .inline      - Make a block element inline
// .alert       - Make the text red!
// .success     - Make the test green!
// .no-margin   - No space below
//
// Styleguide 2.0.0

p {
  margin: 0 0 1.7em;
  font-weight: 300;
}
.small {
  font-size: $type-sz-5;
}
em {
  font-style: italic;
}
b,
strong {
  font-weight: bold;
}
::selection {
  background: $text;
  color: $white;
}
.meta {
  text-transform: lowercase;
  font-variant: small-caps;
  color: lighten($text, 30%);
}
p.alt {
  font-weight: 200;
}
.faded {
  color: darken($grey, 20%);
}
.no-margin {
  margin: 0;
}
.t-center {
  text-align: center;
}
hr {
  border-color: $light-grey;
  border-top: none;
  border-left: none;
  border-right: none;
}


.strike {
    text-decoration: line-through;
}
.inline {
  display: inline;
}

span.highlight {
  color: $brand;
}
ul {
  list-style-type: none;
}
li {
  margin-left: 0;
  margin-bottom: 20px;
}




//*** Global > Typography > Headings  ***//

// Typography: Headers
//
// Styleguide 2.1.0

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.75em;
  font-weight: 100;
}
h1 {
  margin: 0.5em 0;
  font-size: 80px;
  line-height: 0.8;
  font-family: $serif-stack;
  font-weight: 800;
  color: $brand;
  transform: rotate(-10deg);
  text-align: center;

  @include respond-to-max(med) {
    font-size: 60px;
  }
}
h1 span {
  color: $light-grey;
}
.about h1 {
  color: $white;
}
h1.xlg {
  @include respond-to(site-width) {
    font-size: $type-sz-xlg;
  }
}

h2 {
  font-family: $sans-serif-stack;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 500;
  margin-top: 2em; 
  text-align: left;
}
h3 {
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
h3::after {
  content: "-";
  display: block;
  margin-top: 60px;
  color: $brand;
}
h4 {
  font-size: $type-sz-5;
}
h5 {
  margin-top: 50px;
  font-size: $type-sz-6;
  text-transform: uppercase;
}
h6 {
  font-size: $type-sz-6;
}

//*** Global > Links/Controls ***//

// Typography: Links
//
// :hover               - Hover State
// :active              - Active State
//
// Styleguide 2.2.0

a, button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: none; // For FF 3.6
}
a {
  color: $brand;
  text-decoration: none;
}

a:hover, 
a:focus {
}
a:active {}
a:visited {}
a.small {
  font-size: $type-sz-6;
  padding: 10px;
}




.header a {
  color: $text;
}
.header .logo {
  font-family: $serif-stack;
  color: $text;
  font-weight: 900;
  font-size: 16px;
}


input.placeholder, textarea.placeholder {
  color: #999;
}
input[disabled],
button[disabled] {
  cursor: pointer;
  opacity: 0.5;
    filter: alpha(opacity=50);
}
