<% content_for :title, 'about' %>


<div class="wrapper">
  <div class="row">
    <div class="c12">

      <h1>
        <span class="strike">Designer</span><br> Design, etc.
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="c8">

      <p>I don't like calling myself a designer. It carries too many connotations. Depending who you are, you'll jump to some conclusion. Most people instantly think you make things look pretty. Non technical people presume you code websites. Not sure why.</p>
      <p>I do both those. And more. I've called myself a UX designer, a digital product designer, and more. But designer limits access to business. I apply design thinking and analysis to business. Is that management? Don't know.</p>


      <h1>I'm a: <br/>
        business-minded <em>I think in revenue &amp; market</em><br/>
        senior <em>ten years experience</em><br/>
        nomadic <em>working remotely or from your office</em><br/>
        freelance <em>contract</em><br/>
        digital product <em>anything that has an online element</em><br/>
        designer <em>not just making things look pretty</em>.
      </h1>

    </div>
  </div>
  <div class="row">
    <div class="c6">
      <p>What I do</p>
      <ul>
        <li>Apply design thinking to your business</li>
        <li>Streamline your design / development processes</li>
        <li>Help define your product or feature</li>
        <li>Rapid prototype and test your ideas</li>
        <li>Design and build MVPs</li>
        <li>Work with existing teams to innovate or rethink</li>
        <li>Create simple and clean, but unique identities and UI designs</li>
        <li>Form a tone of voice and produce copy for websites and marketing</li>
        <li>Pair with back end developers to implement front end designs</li>
      </ul>
    </div>
    <div class="c6">
      <p>What I don't do</p>
      <ul>
        <li>All of the above by myself; greater things happen in teams</li>
        <li>Refinement of products past a certain point; there are people much better out there at perfecting pixels</li>
        <li>Create perfect wireframes; pen &amp; paper > code > photoshop > whiteboard > whatever</li>
        <li>Do anything without question</li>
        <li>Work just with other designers</li>
        <li>Like calling myself a designer; it carries so much expectaction</li>
        <li>Spend months/years refining one product or feature; again, there are better people for that</li>
      </ul>
    </div>

  </div>


  <div class="row">
    <div class="c8">
      <p>I'm a business-minded (I consider market and revenue) senior (ten years experience) freelance (and flexible) digital product (anything on) designer. This means I help clients with early stage product definition, management &amp; strategy as well as prototyping, UX, UI, branding and visual design.</p>

      <p>I previously founded <a href="http://deskbeers.com/" target="_blank">DeskBeers</a>, the world's first workplace craft beer delivery service; am currently <a href="https://medium.com/@sjmarshalluk/making-a-masters-7f65126639d6#.o8thxbx3e" target="_blank">learning by writing</a> and am a member of Outpost Collective. </p>
    </div>
    <div class="c2 s1">
      <ul>
        <li><a href="https://uk.linkedin.com/in/sjmarshalluk" target="_blank">Linked In</a></li>
        <li><a href="https://www.instagram.com/sjmarshalluk/" target="_blank">Instagram</a></li>
        <li><a href="https://twitter.com/sjmarshalluk" target="_blank">Twitter</a></li>
        <li><a href="https://medium.com/@sjmarshalluk/latest">Medium</a></li>
        <li><a href="mailto:hello@sjmarshalluk.com" target="_blank">Email</a></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="c12">
      <%= image_tag('smr/smr2.png') %>
    </div>
  </div>
</div>