<% content_for :title, 'about' %>


<div class="wrapper">
  <div class="row">
    <div class="c12 med-c10 sml-c12">

      <h1>
        <span class="strike">Designer</span><br><span class="strike">Strategist</span><br><span class="strike">Consultant</span><br><span class="strike">Founder</span><br> Design, etc.
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="c8 med-c10 sml-c12">
      <p>I can help you with everything from creative direction, design (visual &amp; UX), prototyping, testing, strategy, copywriting and more. I am curently based half in London, UK and half in Chamonix, France.</p>
      <p>This site is currently a work in progress. The case studies will be updated and completed soon.</p>


    </div>
  </div>
  <div class="row small">
    <div class="c4 med-c6 sml-c12">
      <p><strong>What I do do</strong></p>
      <ul>
        <li>Apply design thinking to your business</li>
        <li>Streamline your design / development processes</li>
        <li>Help define your product or feature</li>
        <li>Rapid prototype and test your ideas</li>
        <li>Design and build MVPs</li>
        <li>Work with existing teams to innovate or rethink</li>
        <li>Create simple and clean, but unique identities and UI designs</li>
        <li>Form a tone of voice and produce copy for websites and marketing</li>
        <li>Pair with back end developers to implement front end designs</li>
      </ul>
    </div>
    <div class="c4 med-c6 sml-c12">
      <p><strong>What I don't do</strong></p>
      <ul>
        <li>All of what I can do by myself; greater things happen in teams</li>
        <li>Refinement of products past a certain point; there are people much better out there at perfecting pixels</li>
        <li>Create perfect wireframes; I prefer: pen &amp; paper > code > photoshop > whiteboard > whatever</li>
        <li>Do anything without question</li>
        <li>Work just with other designers</li>
        <li>Like calling myself a designer; it carries so much expectaction</li>
        <li>Spend months/years refining one product or feature; again, there are better people for that</li>
      </ul>
    </div>

  </div>

  <div class="row">
    <div class="c12">
      <ul>
        <li><a href="https://uk.linkedin.com/in/sjmarshalluk" target="_blank">Linked In</a></li>
        <li><a href="https://www.instagram.com/sjmarshalluk/" target="_blank">Instagram</a></li>
        <li><a href="https://twitter.com/sjmarshalluk" target="_blank">Twitter</a></li>
        <li><a href="https://medium.com/@sjmarshalluk/latest">Medium</a></li>
        <li><a href="mailto:hello@sjmarshalluk.com" target="_blank">Email</a></li>
      </ul>
    </div>
  </div>

</div>