<% content_for :title, 'about' %>
<% content_for :about, 'selected' %>


<div class="wrapper intro about">
  <div class="row me-header">
    <div class="c8 s2 med-c10 med-s1 sml-c12 sml-s0">
      <h1>Not just <br/>some pretty <br/>pixels</h1>
    </div>
  </div>

  <div class="row">
    <div class="c8 s2 med-c10 sml-c12">
      <h2>I have over ten years experience working in-house, at agencies, and as a freelancer; operating both at production and management levels. During this time, I have completed projects for a huge variety of clients from one-person startups to multi national corporations. This wealth of experience and knowledge allows me to implement the best processes and utilise the most suitable untensils for each project.</h2>

      <h2>In 2014, I founded DeskBeers, for which I lead a core team of four (growing to a size of eight at times) to define, launch and grow the business. During it's first year of operation, I was responsible for the operations and logistics; building business relationships with wholesalers; strategy of launch and expansion; UX, service and visual design of website and physical product; as well as marketing and growth.</h2>

      <h2>Previous to DeskBeers, I lead agency design teams at Weedoo Media and Mint Digital. And since, I have headed up multidisciplinary teams at a variety of startups as a freelancer; working with a wide range of clients, developing long standing relationships with many of them. With each client, I bring a mix of design and product knowledge and expertise to help them grow as a business.</h2>


      <p>LOGO GRID OF CLIENTS I HAVE WORKED FOR</p>

      <h4>Experience</h4>
      <ul>
        <li>2014-2017 Freelance Design + Product</li>
        <li>2013-2014 Founder and Head of Product at DeskBeers</li>
        <li>2011-2013 Senior Designer at Mint Digital</li>
        <li>2008-2011 Lead Designer at Weedoo Media</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="c8 s2 med-c12">
      <hr />
    </div>
  </div>

  <div class="row small">
    <div class="c4 s2 med-c6 sml-c12">
      <p><strong>I will...</strong></p>
      <ul>
        <li>apply design thinking to your business</li>
        <li>streamline your design / development processes</li>
        <li>help define your product or feature</li>
        <li>help rapid prototype and test your ideas</li>
        <li>help design and build MVPs</li>
        <li>work with existing teams to innovate or rethink</li>
        <li>create simple and clean, but unique identities and UI designs</li>
        <li>form a tone of voice and produce copy for websites and marketing</li>
        <li>pair with back end developers to implement front end designs</li>
      </ul>
    </div>
    <div class="c4 med-c6 sml-c12">
      <p><strong>I won't...</strong></p>
      <ul>
        <li>do all of what I can do, by myself; greater things happen in teams</li>
        <li>refine products past a certain point; there are people much better out there at perfecting pixels</li>
        <li>spend days creating perfect wireframes; I prefer: pen &amp; paper > code > photoshop > whiteboard > whatever</li>
        <li>do what you ask without question</li>
        <li>only work with other designers; lets bring in some other areas of expertise</li>
        <li>spend months/years refining one product or feature; again, there are better people for that</li>
      </ul>
    </div>

  </div>

  <div class="row">
    <div class="c8 s2">
      <a href="https://uk.linkedin.com/in/sjmarshalluk" target="_blank">Linked In</a> | <a href="https://www.instagram.com/sjmarshalluk/" target="_blank">Instagram</a> | <a href="https://twitter.com/sjmarshalluk" target="_blank">Twitter</a> | <a href="https://medium.com/@sjmarshalluk/latest">Medium</a> | <a href="mailto:hello@sjmarshalluk.com" target="_blank">Email</a>
      
    </div>
  </div>

</div>