

<div class="wrapper intro yld">


  <div class="row push-top">

    <div class="c8 s2 med-c12 med-s0">
      <h1>Container<br/>camp</h1>
      <h3>Branding, visual design &amp; UX</h3>
      <h2>I have worked with the Container Camp team over the past two years, helping with the on- and off- line design as well as the operations during the actual events. When I joined, despite having run several events, they had virtually no identity. I continue to work with them to improve the web experience prior to each event they run.</h2>
    </div>



  </div>

  <div class="row">
    <div class="c12">
      <%= image_tag('yld/cc1.png') %>
    </div>
  </div>
  <div class="row">
    <div class="c6 sml-c12">
      <%= image_tag('yld/cc-photo1.png') %>
    </div>
    <div class="c6 sml-c12">
      <%= image_tag('yld/cc-photo2.png') %> 
    </div>
  </div>


  <div class="row">
    <div class="c4 s2 med-c6 med-s0">
      <a class="project-prev" href="/moo">Moo</a>
    </div>
    <div class="c4 med-c6 med-s0">
      <a class="project-next" href="/deskbeers">DeskBeers</a>
    </div>
  </div>

</div>