

<div class="wrapper intro yld">


  <div class="row push-top">

    <div class="c8 s2 med-c12 med-s0">
      <h1>Container<br/>camp</h1>
      <h3>Branding, visual design &amp; UX</h3>
      <ul class="bullets push-top-half t-center">
        <li>Produced identity for use on- and off-line</li>
        <li>Complete redesign of web product</li>
        <li>Worked with founders to implement better pricing stategies and event structures</li>
        <li>Assist at events to ensure smooth running of logistics</li>
      </ul>
    </div>
  </div>



  </div>

  <div class="row">
    <div class="c12">
      <%= image_tag('yld/cc1.png') %>
    </div>
  </div>
  <div class="row">
    <div class="c6 sml-c12">
      <%= image_tag('yld/cc-photo1.png') %>
    </div>
    <div class="c6 sml-c12">
      <%= image_tag('yld/cc-photo2.png') %> 
    </div>
  </div>


  <div class="row">
    <div class="c4 s2 med-c6 med-s0">
      <a class="project-prev" href="/moo">Moo</a>
    </div>
    <div class="c4 med-c6 med-s0">
      <a class="project-next" href="/deskbeers">DeskBeers</a>
    </div>
  </div>

</div>