<% content_for :title, 'about' %>


<div class="wrapper">
  <div class="row">
    <div class="c12">

      <h1>Semi-Permanent</h1>
    </div>
  </div>
  <div class="row">
    <div class="c8">

      <p>Since 2014, I haven't been located in one place. Rather, I have slow-travelled around. Spening one to six months in a location. Working remotely, or from client offices. This enables me to live the life I want, whilst remaining flexible for the needs of the people I work with.</p>

      <p>I am currently based in Chamonix (France), with frequent trips to London.</p>

      <ul>
        <li><a href="https://uk.linkedin.com/in/sjmarshalluk" target="_blank">Linked In</a></li>
        <li><a href="https://www.instagram.com/sjmarshalluk/" target="_blank">Instagram</a></li>
        <li><a href="https://twitter.com/sjmarshalluk" target="_blank">Twitter</a></li>
        <li><a href="https://medium.com/@sjmarshalluk/latest">Medium</a></li>
        <li><a href="mailto:hello@sjmarshalluk.com" target="_blank">Email</a></li>
      </ul>


    </div>
  </div>

</div>