
<div class="wrapper">
  <div class="row">
    <div class="c7">

      <p><%= link_to 'Back'%></p>
      <p>Design is a process. Showing some pixels is a fraction of the work. If you want to know more, I'm happy to chat with you.</p>

    </div>

  </div>

  <div class="row">
    <div class="c12">
      <%= image_tag('ux/m1.png') %>
      <h5>UX flows for Monogram by Moo</h5>
      <%= image_tag('ux/r1.png') %>
      <%= image_tag('ux/smr1.png') %>
    </div>
  </div>
</div>