
<div class="wrapper">
  <div class="row">
    <div class="c7">

      <p>Hello. I’m Steve.</p>

      <p>I’m a <a href="https://uk.linkedin.com/in/sjmarshalluk" target="_blank">freelance Digital Product Designer</a>. I work with individuals, startups and corporations on <a href="https://uk.linkedin.com/in/sjmarshalluk">creative direction, visual design &amp; branding</a>, <a href="https://uk.linkedin.com/in/sjmarshalluk">user experience design</a>, and <a href="https://uk.linkedin.com/in/sjmarshalluk">research, prototyping &amp; product definition</a>.</p>

      <p>Once upon-a-time, I founded <a href="http://deskbeers.com/" target="_blank">DeskBeers</a>. A workplace craft beer delivery service that I grew from the ground up whilst working at <a href="http://mintdigital.com/" target="_blank">Mint Digital</a>. Whilst I have since moved on, I'm happy to say business still going strong.</p>

      <p>I am currently writing a book, The Good Life 2.0, in order to materialise my thoughts and experiences from my last few years. It is also a vehicle for me to structure further learning in philosophy, sustainability, environmental science, circular economies and sociology. You can <a href="https://medium.com/@sjmarshalluk/making-a-masters-7f65126639d6#.o8thxbx3e" target="_blank">read about it here</a>.</p>

      <p>Since November 2014, I have been <a href="https://www.panomadic.com/" target="_blank">a part-time nomad</a>. Spending approximately half my time in Lodnon, and half in other locations. So far, this has allowed me to live in the Pyrenees, Bali, Cornwall and more. During the winter 2016/2017, I will be based in Chamonix, France.</p>

      <p>When I can, I volunteer outdoors at places such as <a href="http://www.sustainability-centre.org/" target="_blank">The Sustainability Centre</a>, <a href="http://www.woodberrywetlands.org.uk/" target="_blank">London Wetlands Centre</a>, <a href="http://www.keveral.org/" target="_blank">Keveral Farm</a> and hopefully more soon.</p>



    </div>

    <div class="c2 s2">
      <p>_</p>

      <ul>
        <li><a href="https://uk.linkedin.com/in/sjmarshalluk" target="_blank">Linked In</a></li>
        <li><a href="https://www.instagram.com/sjmarshalluk/" target="_blank">Instagram</a></li>
        <li><a href="https://twitter.com/sjmarshalluk" target="_blank">Twitter</a></li>
        <li><a href="mailto:hello@sjmarshalluk.com" target="_blank">Email</a></li>
      </ul>
      <p>_</p>
      <ul>
        <li><a href="https://medium.com/@sjmarshalluk/making-a-masters-7f65126639d6#.o8thxbx3e" target="_blank">Making a Masters: Building my own education</a></li>
        <br/>
        <li><a href="https://medium.com/@sjmarshalluk/why-i-plan-to-leave-london-and-buy-my-first-home-in-france-b345cdca52ae#.4xg0zlszt" target="_blank">Why I plan to leave London and buy my first home in France</a></li>
        <br/>
        <li><a href="https://medium.com/@sjmarshalluk/dont-quit-your-job-become-a-digital-nomad-7a6c00a690a7#.hfrr4ewbw" target="_blank">Don’t Quit Your Job &amp; Become A Digital Nomad</a></li>
      </ul>
    </div>

  </div>
</div>