
<div class="wrapper">

  <div class="row push-bottom">
    <div class="c8">
      <h1>Using design to help small startups make <em>big</em> steps.</h1>
    </div>
  </div>
  

  <div class="row">
    <div class="c12">
      <a id="smr" class="thumb" href="/smr">
        <p>Silicon Milkroundabout</p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="c6">
      <a id="mosaic" class="thumb" href="/moo">
        <p>Moo</p>
      </a>
    </div>
    <div class="c6">
      <a id="yld" class="thumb" href="/yld">
        <p>YLD</p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="c12">
      <a id="deskbeers" class="thumb" href="/deskbeers">
        <p>DeskBeers</p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="c6">
      <a id="round" class="thumb" href="/theround">
        <p>The Round</p>
      </a>
    </div>
    <div class="c6">
      <a id="projecteo" class="thumb" href="/projecteo">
        <p>Projecteo</p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="c12">
      <a id="archive" class="thumb" href="/archive">
        <p>Archive</p>
      </a>
    </div>
  </div>






  <div id="prototyping" class="row thumb no-padding">
    <div class="c12">
    </div>
  </div>

</div>