
<div class="wrapper">
  <div class="row">
    <div class="c4">

      <p>Hello.</p>

      <p>I’m a <a href="https://www.instagram.com/sjmarshalluk/" target="_blank">semi-nomadic</a> <a href="https://uk.linkedin.com/in/sjmarshalluk" target="_blank">freelance digital product designer</a> &amp; <a href="http://deskbeers.com/" target="_blank">founder</a>. I am currently in Ubud (Bali), working out of the <a href="http://www.hubud.org/" target="_blank">Hubud</a> coworking space. Come say hi if you're nearby.</p>

      <p>When freelancing, I work with <a href="https://www.theround.com/" target="_blank">startups</a>, <a href="http://www.offsethq.com/" target="_blank">product studios</a> &amp; <a href="http://www.marshallhavard.com/" target="_blank">companies</a>. I help with <a href="https://medium.com/@sjmarshalluk/product-design-33437127088f#.pfczgwrle">product definition, prototyping &amp; testing, design, and sometimes development</a>. <a href="mailto:hello@sjmarshalluk.com">Get in touch</a> if you would like to work with me. I am also available for advising and consultancy work. </p>

      <p>I am currently putting focus into new ventures. If you've got an idea you'd like to collaborate on, or if you're up for getting involved with <a href="https://medium.com/@sjmarshalluk/product-ideas-c9a8385bbae5#.d5rdzj46k" target="_blank">one of mine</a>, I'd <a href="mailto:hello@sjmarshalluk.com">love to talk</a>.</p>

      <p>Namaste, etc.</p>

    </div>

    <div class="c2 s5">
      <p>_</p>
      <ul>
        <li><a href="https://medium.com/@sjmarshalluk/deskbeers-6f052e863d62" target="_blank">DeskBeers</a></li>
        <li><a href="https://medium.com/@sjmarshalluk/the-round-edafc498bc57#.o5hjhpv4a" target="_blank">The Round</a></li>
        <li><a href="https://medium.com/@sjmarshalluk/mosaic-a307a08266e6#.e4f3iu7h0" target="_blank">Mosaic</a></li>
        <li><a href="#" target="_blank">Marshall Havard</a></li>
        <li><a href="#" target="_blank">Projecteo</a></li>
      </ul>

      <p>_</p>
      <ul>
        <li><a href="https://uk.linkedin.com/in/sjmarshalluk" target="_blank">Linked In</a></li>
        <li><a href="https://www.instagram.com/sjmarshalluk/" target="_blank">Instagram</a></li>
        <li><a href="https://twitter.com/sjmarshalluk" target="_blank">Twitter</a></li>
        <li><a href="mailto:hello@sjmarshalluk.com" target="_blank">Email</a></li>
      </ul>
    </div>

  </div>
</div>