


<div class="wrapper index intro">



  <div class="row push-top">
    <div class="c5 s6 med-c12">
      <h2>I'm a Product Manager, Designer and Founder with ten years experience working at small-medium startups and design/product agencies.</h2>
      <p><strong>Experience</strong></p>
      <ul>
        <li>2014-2017 Freelance Design + Product</li>
        <li>2013-2014 Founder and Head of Product at DeskBeers</li>
        <li>2011-2013 Senior Designer at Mint Digital</li>
        <li>2008-2011 Lead Designer at Weedoo Media</li>
      </ul>
      <p><strong>Recognition</strong></p>
      <ul>
        <li>Springwise wise words founder</li>
        <li>Springwise innovation</li>
        <li>One page love</li>
        <li>CNN</li>
        <li>Chelsea Lately</li>
        <li>Evening Standard</li>
        <li>Financial Times</li>
      </ul>
    </div>
  </div>
  


</div>