
<div class="wrapper">
  <div class="row">
    <div class="c4">

      <p>Hello.</p>

      <p>I’m a <a href="https://www.panomadic.com/" target="_blank">semi-nomadic</a> <a href="https://uk.linkedin.com/in/sjmarshalluk" target="_blank">freelance digital product designer</a> &amp; <a href="http://deskbeers.com/" target="_blank">founder</a>. I work with startups, product studios and small companies with <a href="https://medium.com/@sjmarshalluk/product-design-33437127088f#.pfczgwrle">product definition, prototyping &amp; testing, design, and sometimes development</a>. <p>

      <p>I do not have a public portfolio as what I offer each client varies with their requirements. If you are interested in working with me, please <a href="mailto:hello@sjmarshalluk.com">get in touch</a> and I will happily show you how I have helped previous clients.</p>

      <p>Steve</p>



    </div>

    <div class="c2 s5">
      <p>_</p>

      <ul>
        <li><a href="https://uk.linkedin.com/in/sjmarshalluk" target="_blank">Linked In</a></li>
        <li><a href="https://www.instagram.com/sjmarshalluk/" target="_blank">Instagram</a></li>
        <li><a href="https://twitter.com/sjmarshalluk" target="_blank">Twitter</a></li>
        <li><a href="mailto:hello@sjmarshalluk.com" target="_blank">Email</a></li>
      </ul>
      <p>_</p>
      <ul>
        <li><a href="https://medium.com/@sjmarshalluk/why-i-plan-to-leave-london-and-buy-my-first-home-in-france-b345cdca52ae#.4xg0zlszt" target="_blank">Why I plan to leave London and buy my first home in France</a></li>
        <li><a href="https://medium.com/@sjmarshalluk/dont-quit-your-job-become-a-digital-nomad-7a6c00a690a7#.hfrr4ewbw" target="_blank">Don’t Quit Your Job &amp; Become A Digital Nomad</a></li>
      </ul>
    </div>

  </div>
</div>