<% content_for :title, 'journal' %>
<% content_for :journal, 'selected' %>


<div class="wrapper intro">
  <div class="row push-top">
    <div class="c8 s2 med-c10 med-s1 sml-c12 sml-s0">
      <h1>Ponderings</h1>
    </div>
  </div>

  <div class="row">
    <div class="c8 s2 med-c10 sml-c12">
      <h2>I write a lot, but I hardly publish any of it. This page will soon (hopefully) become filled with said posts. In the meantime, head to my Medium to read a few of the ones I have managed to finish.</h2>
    </div>
  </div>


  <div class="row">
    <div class="c8 s2">
      <a href="https://uk.linkedin.com/in/sjmarshalluk" target="_blank">Linked In</a> | <a href="https://www.instagram.com/sjmarshalluk/" target="_blank">Instagram</a> | <a href="https://twitter.com/sjmarshalluk" target="_blank">Twitter</a> | <a href="https://medium.com/@sjmarshalluk/latest">Medium</a> | <a href="mailto:hello@sjmarshalluk.com" target="_blank">Email</a>
      
    </div>
  </div>

</div>