
<div class="wrapper">
  <div class="row">
    <div class="c7">

      <p>Here's some pretty looking stuff</p>

    </div>

    <div class="c2 s2">
      <p>_</p>

    </div>

  </div>

  <div class="row">
    <div class="c12">
      <%= image_tag('ux/m1.png') %>
      <h5>UX flows for Monogram by Moo</h5>
      <%= image_tag('ux/r1.png') %>
      <%= image_tag('ux/smr1.png') %>
    </div>
  </div>
</div>