

<div class="wrapper intro">
  <div class="row push-top">
    <div class="c8 s2 med-c10 sml-c12">

      <h1>Marshall<br/>Havard</h1>
      <h3>Content, identity, visual design &amp; custom CMS build</h3>
      <h2>Being an established (25 years) local accountacy firm, I worked closely with all staff members to create a plan for </h2>
    
    </div>
  </div>

  <div class="row">
    <div class="c8 s2 med-c12">
      <hr />
    </div>
  </div>

  
  <div class="row push-top-half">

    <div class="c8 s2">
      <p>Stage one: Identity, content strategy, CMS build.</p>
      <p>Stage two: Visual design, brand assets, build completion.</p>

    </div>
  </div>



  <div class="row">
    <div class="c4 s2 med-c6 med-s0">
      <a class="project-prev" href="/yld">YLD</a>
    </div>
    <div class="c4 med-c6 med-s0">
      <a class="project-next" href="/projecteo">Projecteo</a>
    </div>
  </div>
</div>