

<div class="wrapper intro">
  <div class="row push-top">
    <div class="c8 s2 med-c10 sml-c12">

      <h1>Marshall<br/>Havard</h1>
      <h3>Content, identity, visual design &amp; custom CMS build</h3>
      <h2 class="t-center">Case study coming soon</h2>
    
    </div>
  </div>

  <div class="row">
    <div class="c12">
      
    </div>
  </div>





  <div class="row">
    <div class="c4 s2 med-c6 med-s0">
      <a class="project-prev" href="/yld">YLD</a>
    </div>
    <div class="c4 med-c6 med-s0">
      <a class="project-next" href="/projecteo">Projecteo</a>
    </div>
  </div>
</div>