<% content_for :work, 'selected' %>

<div class="wrapper index intro">

  <div class="row push-top push-bottom">
    <div class="c8 s2 med-c10 med-s1 sml-c12 sml-s0 t-center">
      <h1>Design,<br/>Product,<br/>etc.</h1>
    </div>
  </div>
  

  <div class="row">
    <div class="c10 s1 med-c12 med-s0">
      <a id="smr" class="thumb" href="/smr">
        <p>Silicon Milkroundabout</p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="c6 med-c12">
      <a id="mosaic" class="thumb" href="/moo">
        <p>Moo</p>
      </a>
    </div>
    <div class="c6 med-c12">
      <a id="containercamp" class="thumb" href="/containercamp">
        <p>Container Camp</p>
      </a>
    </div>
  </div>



  <div class="row">
    <div class="c10 s1 med-c12 med-s0">
      <a id="deskbeers-design" class="thumb" href="/deskbeers">
        <p>DeskBeers - Design</p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="c6 med-c12">
      <a id="round" class="thumb" href="/theround">
        <p>The Round</p>
      </a>
    </div>
    <div class="c6 med-c12">
      <a id="yld" class="thumb" href="/yld">
        <p>YLD</p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="c10 s1 med-c12 med-s0">
      <a id="deskbeers" class="thumb" href="/deskbeers">
        <p>DeskBeers - Business</p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="c6 med-c12">
      <a id="marshallhavard" class="thumb" href="/marshallhavard">
        <p>Marshall Havard</p>
      </a>
    </div>
    <div class="c6 med-c12">
      <a id="projecteo" class="thumb" href="/projecteo">
        <p>Projecteo</p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="c10 s1 med-c12 med-s0">
      <a id="archive" class="thumb" href="/archive">
        <p>Archive</p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="c8 s2 med-c12 med-s0">
      <h2>More projects to be added soon</h2>
    </div>
  </div>




</div>