
<div class="wrapper index intro">

  <div class="row push-bottom">
    <div class="c8 s2 med-c12 t-center">
      <h1>Using design to help small startups make <em>big</em> steps.</h1>
    </div>
  </div>
  

  <div class="row">
    <div class="c10 s1">
      <a id="smr" class="thumb" href="/smr">
        <p>Silicon Milkroundabout</p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="c6 med-c12">
      <a id="mosaic" class="thumb" href="/moo">
        <p>Moo</p>
      </a>
    </div>
    <div class="c6 med-c12 push-top">
      <a id="yld" class="thumb" href="/yld">
        <p>YLD</p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="c9 s1">
      <a id="deskbeers" class="thumb" href="/deskbeers">
        <p>DeskBeers</p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="c6 med-c12 push-top-half">
      <a id="round" class="thumb" href="/theround">
        <p>The Round</p>
      </a>
    </div>
    <div class="c6 med-c12">
      <a id="projecteo" class="thumb" href="/projecteo">
        <p>Projecteo</p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="c9 s2">
      <a id="archive" class="thumb" href="/visualarchive">
        <p>UX Archive</p>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="c9 s1">
      <a id="archive" class="thumb" href="/uxarchive">
        <p>Visual Archive</p>
      </a>
    </div>
  </div>



</div>