@import '_setup';


.header {
  font-family: $sans-serif-stack;
  font-size: 14px;
  position: absolute;
  width: 100%;
  padding: 0 20px;
}

.content .intro {
  padding-top: 150px;
}

.index {
  font-family: $sans-serif-stack;
}

ul.nav {
  float: right;
  position: relative;
}

ul.nav li {
  float: left;
  width: 100px;
  text-align: right;
}


.grey {
  background-color: $light-grey;
}

.dark-grey {
  background-color: $text;
}





.image .svg {
  height: 200px;
  max-width: 60%;
  margin: 0 auto;
}

.image {
  text-align: center;
  background-color: #111213;
  padding: 100px 0;
}


.image .path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-animation: dash 1s linear alternate forwards infinite;
}

.image .path-long {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  -webkit-animation: dashlong 1s linear alternate forwards infinite;
}

.image .path-short {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  -webkit-animation: dashshort 2s linear alternate forwards infinite;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 300;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dashlong {
  from {
    stroke-dashoffset: 600;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dashshort {
  from {
    stroke-dashoffset: 50;
  }
  to {
    stroke-dashoffset: 0;
  }
}




a.thumb {
  height: 500px;
  display: block;
  color: $text;
  @include transition(opacity 0.25s);
  @include respond-to-max(med) {
    height: 400px;
  }
}

a.thumb p {
  padding: 15px 20px;
  font-size: 12px;
}

a.thumb:hover {
  opacity: 0.8;
}



/** headers **/

.round {
  background: #13ccc1;
}
.smr {
  background: #fce8ea image-url('smr/bg.png') no-repeat top center / cover;
  padding-bottom: 200px;
}
.deskbeers {
  background: #e3b104 image-url('deskbeers/feature-beers.png') no-repeat center 420px / 1200px;
  padding-bottom: 200px;
}




/** thumbs **/

#round {
  background: #13ccc1 image-url('round/homepage.png') no-repeat center 4em / 350px;
}

#deskbeers {
  background: #ffffff image-url('deskbeers/stall.png') no-repeat top center / cover;
}

#smr {
  background: #ffffff image-url('smr/brand.png') no-repeat top center / cover;
}

#mosaic {
  background: #22a0b7 image-url('mosaic/onboarding.gif') no-repeat top center / cover;
}

#projecteo {
  background: #f8c23e image-url('projecteo/illustration.png') no-repeat center center / 250px;
}

#yld {
  background: #3e6399 image-url('yld/n1.png') no-repeat center center / 250px;
}

#archive {
  background: #3e6399 image-url('archive/wood_logo1.gif') no-repeat center center / cover;
}


