@import '_setup';


.header {
  font-family: $sans-serif-stack;
  font-size: 14px;
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 20px;
  margin-top: 20px;
  @include respond-to-max(med) {
    padding: 10px;
    margin-top: 0;
  }
}

.header .row {
  margin: 0;
}

.header a {
  padding: 10px;
}

.content .intro {
  padding-top: 65px;
}

.index {
  font-family: $sans-serif-stack;
}

ul.nav {
  float: right;
  position: relative;
}

ul.nav li {
  float: left;
  margin-left: 20px;
  text-align: right;
  @include respond-to-max(med) {
    margin-left: 10px;
  }
}

ul.nav li a {
  padding: 10px 15px;
  border-radius: $border-radius;
  background-color: transparent;
  @include transition(background-color 0.25s);
  @include respond-to-max(med) {
    padding: 10px;
  }
}

ul.nav li a:hover {
  background-color: $light-grey;
}

ul.nav li a.selected {
  background-color: $brand;
  color: $white;
}


.grey {
  background-color: $light-grey;
}

.dark-grey {
  background-color: $text;
}


.arrow.left {
  -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}



.image .svg {
  height: 200px;
  max-width: 60%;
  margin: 0 auto;
}

.image {
  text-align: center;
  background-color: #111213;
  padding: 150px 0;
  overflow: hidden;
    margin-left:  $h-gutter;
    margin-right: $h-gutter;
}


.image .path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  -webkit-animation: dash 1s linear alternate forwards infinite;
}

.image .path-long {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  -webkit-animation: dashlong 1s linear alternate forwards infinite;
}

.image .path-short {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  -webkit-animation: dashshort 2s linear alternate forwards infinite;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 300;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dashlong {
  from {
    stroke-dashoffset: 600;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dashshort {
  from {
    stroke-dashoffset: 50;
  }
  to {
    stroke-dashoffset: 0;
  }
}



.me-header {
  background: image-url('other/me.png') no-repeat center center / 500px;
  padding: 200px 0; 
  @include respond-to-max(med) {
    background: image-url('other/me.png') no-repeat center center / 350px;
    padding: 100px 0;
  }
}

a.thumb {
  height: 500px;
  color: $text;
  display: block;
  opacity: 1;
  @include transition(opacity 0.25s);
  @include respond-to-max(med) {
    height: 400px;
  }
}

a.thumb p {
  padding: 15px 20px;
  font-size: 12px;
}

a.thumb:hover {
  opacity: 0.8
}

a.project-prev,
a.project-next {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  width: 300px;
  height: 300px;
  display: block;
  background-color: transparent;
  color: $brand;
  font-family: $serif-stack;
  margin: 20px 0;
  line-height: 0.9;
  background-color: $white;
  border-radius: 300px;
  transform: rotate(-10deg);
  @include transition(background-color 0.25s);
  @include respond-to-max(med) {
    font-size: 24px;
  }
}

a.project-prev::before,
a.project-next::before {
  display: block;
  color: $light-grey;
  font-size: 16px;
  font-family: $sans-serif-stack;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-left: 30px;
  padding-top: 85px;
  transform: rotate(10deg);
} 

a.project-prev::before {
  content: "Previous";
} 

a.project-next::before {
  content: "Next";
} 

a.project-prev:hover,
a.project-next:hover {
  background-color: $light-grey;
}



/** headers **/

.round {
  background: #13ccc1;
}
.smr-notused {
  background: #fce8ea image-url('smr/bg.png') no-repeat top center / cover;
}
.deskbeers {
  background: #e3b104 image-url('deskbeers/feature-beers.png') no-repeat center 420px / 1200px;
  padding-bottom: 200px;
}
.mosaic {
  background: #22a0b7;
}
.projecteo {
  background: #f8c23e;
}


/** smr **/

ul#tickets {
  padding: 30px;
  overflow: hidden;
  -webkit-animation: Background 10s ease infinite;
  -moz-animation: Background 10s ease infinite;
  animation: Background 10s ease infinite;
}

#tickets li {
  width: 33.33333%;
  padding: 20px;
  float: left;
  opacity: 0.2
}

#tickets li.sat {
  -webkit-animation: OpacitySat 10s ease infinite;
  -moz-animation: OpacitySat 10s ease infinite;
  animation: OpacitySat 10s ease infinite;
}

#tickets li.sun {
  -webkit-animation: OpacitySun 10s ease infinite;
  -moz-animation: OpacitySun 10s ease infinite;
  animation: OpacitySun 10s ease infinite;
}

#tickets li.we {
  -webkit-animation: OpacityWe 10s ease infinite;
  -moz-animation: OpacityWe 10s ease infinite;
  animation: OpacityWe 10s ease infinite;
}

@keyframes Background { 
  0%{background-color:#de4045}
  25%{background-color:#4abccf}
  50%{background-color:#26468c}
  100%{background-color:#de4045}
}

@keyframes OpacitySat { 
  0%{opacity:1}
  25%{opacity:0.2}
  50%{opacity:0.2}
  100%{opacity:1}
}

@keyframes OpacitySun { 
  0%{opacity:0.2}
  25%{opacity:1}
  50%{opacity:0.2}
  100%{opacity:0.2}
}

@keyframes OpacityWe { 
  0%{opacity:0.2}
  25%{opacity:0.2}
  50%{opacity:1}
  100%{opacity:0.2}
}





/** thumbs **/

#round {
  background: #13ccc1 image-url('round/homepage.png') no-repeat center 4em / 350px;
}

#marshallhavard {
  background: #1a3155 image-url('marshallhavard/logo-icon.png') no-repeat center center / 200px;
  p {
    color: $white;
  }
}

#containercamp {
  background: #ffffff image-url('yld/cc-photo2.png') no-repeat center center / cover;
}

#deskbeers {
  background: #ffffff image-url('deskbeers/stall.png') no-repeat center center / cover;
}

#deskbeers-design {
  background: #e3b104 image-url('deskbeers/dbv3.png') no-repeat center 4em / 550px;
}

#smr {
  background: #ffffff image-url('smr/brand.png') no-repeat center center / cover;
}

#mosaic {
  background: #22a0b7 image-url('mosaic/onboarding.gif') no-repeat top center / cover;
}

#projecteo {
  background: #f8c23e image-url('projecteo/illustration.png') no-repeat center center / 250px;
}

#yld {
  background: #3e6399 image-url('yld/n1.png') no-repeat center center / 250px;
}

#archive {
  background: #3e6399 image-url('archive/wood_logo1.gif') no-repeat center center / cover;
}


