<!DOCTYPE html>
<html>
<head>
  <title>Steve Marshall - Design, etc.</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,900,900i" rel="stylesheet">
</head>
<body>
  <div class="header">
    <div class="row">
      <div class="c6">
        <p><a href="/" class="logo">sjmarshalluk</a></p>
      </div>
      <div class="c6">
        <ul class="nav">
          <li><a href="/portfolio">Folio</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="content">
    <%= yield %>
  </div>
</body>
</html>
